---
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";
import {SITE_TITLE, SITE_DESCRIPTION} from '../consts';
const { title } = Astro.props
---
<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <meta property="og:title" content={title}>
  <meta property="og:type" content="website">
  <meta property="og:url" content={Astro.site}>
  <meta property="og:image" content=`${Astro.site}images/og-image-header.png`>
  <meta property="og:site_name" content={SITE_TITLE}>
  <meta property="og:description" content={SITE_DESCRIPTION}>
  <title>{title}</title>
  <style type="text/css">@font-face{font-family:'IM Fell English';font-style:normal;font-weight:400;font-display:swap;src:url(/fonts/im-fell/reg.woff2);}</style>
  <style type="text/css">@font-face{font-family:'IM Fell English';font-style:italic;font-weight:400;font-display:swap;src:url(/fonts/im-fell/italic.woff2);}</style>
  <style type="text/css">@font-face{font-family:'dc-floral';src:url(/fonts/drop-caps/floral.woff2);font-display:swap;}</style>
  <style type="text/css">@font-face{font-family:'IM Fell English SC';font-style:normal;font-weight:400;font-display:swap;src:url(/fonts/im-fell/sc.woff2);}</style>
  <style type="text/css">@font-face{font-family:'flower1';font-style:normal;src:url(/fonts/im-fell/flower1.woff2);font-display:swap;}</style>
  <style type="text/css">@font-face{font-family:'flower2';font-style:normal;src:url(/fonts/im-fell/flower2.woff2);font-display:swap;}</style>
  <style type="text/css">@font-face{font-family:'cursive';font-style:normal;font-weight:normal;font-display:swap;src:url(/fonts/cursive.woff);}</style>
</head>
