---
import {Image} from "astro:assets";
import band from '../assets/man-horse-band.png';
import archer from '../assets/archer-no-arrow.png';
import arrowComplete from '../assets/no-archer-full-arrow.png';
import Notes from '@components/MusicNotes.astro';
---
<style>
 img { max-width: unset !important; }
 button.skip, button.playPause {
     position: absolute;
     background: unset;
     border: unset;
     bottom: -8rem;
 }
 .archer, .arrow {
     width: 10rem;
 }
 .archer {
     transform: scaleX(-1.0)
 }
 .arrow {
     z-index: -1;
     position: absolute;
     transform: scaleX(-1.0) scale(0.75) rotate(25deg);
     left: 3rem;
     top: 3rem;
 }
 .manHorse {
     width: 20rem;
 }
 .skip {
     left: -20rem;
 }
 .playPause {
     right: -24rem;
 }

@media (max-width: 1050px) {
    .manHorse {
     width: 15rem;
    }
 .playPause {
     position: initial;
     overflow:hidden;
     margin-left: auto;
 }
}
@media (max-width: 760px) {
    .manHorse {
     width: 8rem;
    }
}
@media (max-width: 450px) {
    .manHorse {
    }
}

@keyframes shakeManHorse {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.shakeManHorse {
    animation: shakeManHorse 2s;
    animation-iteration-count: infinite;
 }

@keyframes shootArrow {
  0% {
     transform: scaleX(-1.0) scale(0.75);
     left: 3rem;
  }
  25% {
      transform: scaleX(-1.0) scale(0.75) rotate(17deg);
      left: 29rem;
  }
  50% {
      transform: scaleX(-1.0) scale(0.75) rotate(-17deg);
      left: 58rem;
  }
  75% {
      transform: scaleX(-1.0) scale(0.75);
      left: 87rem;
  }
  100% {
      transform: scaleX(-1.0) scale(0.75);
      left: 87rem;
  }
}

.shootArrow {
    animation: linear shootArrow 2s forwards;
 }


.hideNotes {
    visibility: hidden;
 }
.fluteNotes,
.lyreNotes {
    position: absolute;
    width: 5%;
    font-size: 1rem;
 }
.fluteNotes {
    right: 1rem;
    top: 6rem;
 }
.lyreNotes {
    left: 9rem;
 }
 #musicWrapper, #skipWrapper {
     position: relative;
     width: fit-content;
 }

 #musicPlayer {
     position: relative;
     height: 0;
     max-width: 66.9rem;
     width: 100%;
     margin: auto;
 }
</style>
<script is:inline>
 const shuffle = a => a.map(v => ({v, sort: Math.random()})).sort((a,b)=>a.sort-b.sort).map(({v})=>v);
 var songList = [
     "barbie-girl--stantough",
     "blue-da-ba-dee--cornelius-link",
     "hips-dont-lie--stantough",
     "i-want-it-that-way--stantough",
     "seven-nation-army--stantough",
     "smooth-criminal--stantough",
 ];

 var songOrder = songOrder ?? shuffle(songList).map(song => `/audio/music/${song}.opus`);
 var song = new Audio(songOrder[0]);
 var nextSong = new Audio(songOrder[1]);
 var songIndex = 2
 var musicWrapper = undefined;
 var arrow = undefined;
 var notes = undefined;

 song.addEventListener("ended", next);

 const toggle = () => song.paused ? play() : pause();
 function play() {
     song.play();
     musicWrapper = musicWrapper ? musicWrapper : document.getElementById("musicWrapper");
     notes = notes ? notes : document.getElementById("notesWrapper");
     musicWrapper.classList.add("shakeManHorse");
     notes.classList.remove("hideNotes");
 }
 function pause() {
     song.pause();
     musicWrapper = musicWrapper ? musicWrapper : document.getElementById("musicWrapper");
     notes = notes ? notes : document.getElementById("notesWrapper");
     musicWrapper.classList.remove("shakeManHorse");
     notes.classList.add("hideNotes");
 }
 function next() {
     song = nextSong;
     play()
     if (songIndex === songOrder.length) {
         songIndex = 0;
     }
     nextSong = new Audio(songOrder[songIndex]);
     songIndex += 1;
 }
 function skip() {
     pause();
     arrow = arrow ? arrow : document.getElementById("musicArrow");
     arrow.classList.add("shootArrow");
     const sound = new Audio("/audio/effects/ohno.m4a");
     sound.play();
     arrow.addEventListener("animationend", arrowShootHandler, false);
 }
function arrowShootHandler() {
     arrow.removeEventListener("animationend", arrowShootHandler, false);
     arrow.classList.remove("shootArrow");
     const sound = new Audio("/audio/effects/heythathurt.m4a");
     sound.play();
     next()
}
</script>
<div id="musicPlayer">
    <button onclick="skip()" class="skip">
        <div id="skipWrapper">
            <Image class="archer" alt="Medieval drollery of a man/snail/bat/monkey shooting an arrow" src={archer} />
            <Image id="musicArrow" class="arrow complete" alt="Arrow for archer" src={arrowComplete} />
        </div>
    </button>
    <button onclick="toggle()" class="playPause">
        <div id="musicWrapper">
            <div id="notesWrapper" class="hideNotes">
                <Notes class="lyreNotes"/>
                <Notes class="fluteNotes"/>
            </div>
            <Image class="manHorse" alt="Medieval drollery of a man/horse playing a lyre and a horn" src={band} />
        </div>
    </button>
</div>
